::ng-deep .custom-search .mat-mdc-text-field-wrapper {
  height: 2.5rem !important;
  margin-bottom: -1.25em;
}
::ng-deep .custom-search .mat-mdc-form-field-infix {
  min-height: 2.5rem !important;
  padding: 7px 0px 0px 0px !important;
}
