$color-pending: rgb(150, 35, 243);
$color-inProgress: rgb(243, 169, 10);
$color-completed: rgb(13, 150, 54);
$color-approved: rgb(28, 148, 247);
$alternateRowColor: #e7e7e75d;
$hoverRowColor: #67a3dfbb;
$focusedRowColor: #4484c442;
