<mat-dialog-content style="max-height:35rem ; max-width: 30rem;" class="p-5">
  <div>
    <div class="mb-4">
      <h6 class="fw-semibold ">
        Cambiar contraseña
      </h6>
    </div>

    <form [formGroup]="changePasswordForm" (submit)="onChangePassword()">
      <div class="row gap-3">
        <!-- currentPassword field -->
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Actual Contraseña</mat-label>
          <input autocomplete="new-password" [type]="hideCurrentPassword ? 'password' : 'text'" matInput
            [formControlName]="'currentPassword'">
          <button type="button" mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword">
            <mat-icon>{{hideCurrentPassword ? 'visibility' : ' visibility_off'}}</mat-icon>
          </button>
          @if(currentPass?.hasError('required')){
          <mat-error>
            Contraseña actual es requerida
          </mat-error>
          }
        </mat-form-field>

        <!-- new Password field -->
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Nueva Contraseña</mat-label>
          <input autocomplete="new-password" [type]="hideNewPassword ? 'password' : 'text'" matInput
            [formControlName]="'newPassword'">
          <button type="button" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
            <mat-icon>{{hideNewPassword ? 'visibility' : ' visibility_off'}}</mat-icon>
          </button>
          @if(newPass?.hasError('required')){
          <mat-error>
            Contraseña nueva es requerida
          </mat-error>
          }
        </mat-form-field>

        <!-- confirm Password field -->
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Confirmar nueva contraseña </mat-label>
          <input autocomplete="new-password" [type]="hideConfirmPassword ? 'password' : 'text'" matInput
            [formControlName]="'confirmPassword'">
          <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
            <mat-icon>{{hideConfirmPassword ? 'visibility' : ' visibility_off'}}</mat-icon>
          </button>
          @if(confirmPass?.hasError('required')){
          <mat-error>
            Confirmar Contraseña es requerido
          </mat-error>
          }
          @if(confirmPass?.hasError('confirmedValidator')){
          <mat-error>
            Debe coincidir con la contraseña nueva
          </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="row mt-3 ">
        <!-- submit button -->
        <div class="col-6 ">
          <button (click)="dialogRef.close()" type="button" style="width: 98%;" mat-raised-button>
            <span *ngIf="!submitting">Cerrar</span>
          </button>
        </div>
        <div class="col-6  text-end">
          <button style="width: 98%;" mat-flat-button [color]="'primary'"
            [disabled]="!changePasswordForm.valid || submitting" type="submit">
            <span *ngIf="!submitting">Cambiar contraseña</span>
            <mat-spinner *ngIf="submitting" diameter="20"></mat-spinner>
          </button>
        </div>

      </div>
    </form>
  </div>
</mat-dialog-content>